.title{
    font-family: arial;
    text-align: center;
    font: size 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    color: rgb(238, 238, 229);
}

.nav a {
    font-family: arial;
    color: white !important;
    text-shadow: none;
    text-decoration: none;
    margin: 0 5px;
}

.nav a:hover{
    color: blue;
    text-shadow: blue;
}