.movieCard{
    color: azure;
    list-style: none;
    font-size: 1rem;
    font-family: arial,sans-serif;
    text-align: center;
}

.movieCard:hover{
    opacity: 0.8;
}

.movieImage{
    border-radius: 3%;
    background-color: azure;
}

@media (max-width:560px) {
    .movieImage{
        width:90%;
        height: auto;
    }
}